/* Custom properties */
:root {
    --blanco: #fff;
    --negro: #212121;
    --gris: #757575;
    --primario: #ffc107;
    --secundario: #0097a7;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    /* Bold 700 Normal 400 */
    font-family: 'Krub', sans-serif;
}

h1 {
    text-align: center;
    color: rgb(7, 126, 217);
    font-size: 3.8rem;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
    color: var(--primario);
}

.contenedor {
    width: 120rem;
    /* Margin agrega separaciones hacia un lado */
    /* Empieza con top, right, bottom y left. auto lo ajusta como debe ser*/
    margin: 100px auto;
}

.nav-bg {
    background-color: var(--secundario);
}

.navegacion {
    /* Aquí habilitamos el flexbox */
    /* Las propiedades para row y column son distintas */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navegacion a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    /* Regular 400 Bold 700 */
    font-weight: 700;
    padding: 1rem;
}

.navegacion a:hover {
    color: var(--negro);
    background-color: var(--primario);
}